@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}
body{
    background: #39F90;

}
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.btn{
    background: #a98575;
    color: #212121;
    padding: 14px 25px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* for the transition */
   transition: 1s; /* for the transition */
}
.btn img{
    width: 20px;
    margin-left: 10px;
}

.btn:hover{
    padding: 0;

}


/* media query */

@media(max-width:1200px)
{

    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btn{
        padding: 14px 22px;
        
    }
}







